html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-container {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
}

.display {
  box-sizing: border-box;
  border: #333 solid 1px;
  /* border-radius: 12.5% / 50%; */
  padding-right: 10px;

  height: 100%;
  margin: 2px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.keypad {
  /* border: solid rgb(75, 225, 75) 2px; */

  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  /* w:h needs to be 4:5 for buttons to be circles */
  width: 240px;
  height: 300px;
}

.key-row {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.line-5 > .key {
  border-radius: 25% / 50%;
}

/* .equals {
  flex: 1 1 0;
}
.zero {
  flex: 12222221 10 0;
} */

/* doesn't work
.zero {
  flex: 3;
}

.equals {
  flex: 1;
} */

.key {
  box-sizing: border-box;
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fefefe;
  border-radius: 50%;
  border: #333 solid 1px;

  flex: 1 1 0;

  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.key:active {
  background-color: #eee;
}
