html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  border-color: #333;
  border-style: solid;
  border-width: 1px;
  width: 200px;
  height: 50px;
  padding-right: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.keypad {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.key-row {
  display: flex;
  justify-content: center;
}

.line-5 {
  justify-content: flex-start;
}

.key {
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fefefe;
  border-radius: 50px;
  border-color: #333;
  border-style: solid;
  border-width: 1px;

  width: 50px;
  height: 50px;
  padding: 25px;
  margin: 1px;

  flex: 0 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
